<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289938632793-9c9n1mmu0b4r4gp7p8qsocjqc97v5pka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289938632793-9c9n1mmu0b4r4gp7p8qsocjqc97v5pka</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>289938632793-kbsidr65ujofoern7sirgoi7i0uaulf1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAI38R4Pvmfc_XIQRS5CBH1OBGA0Yks_pQ</string>
	<key>GCM_SENDER_ID</key>
	<string>289938632793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myblog</string>
	<key>PROJECT_ID</key>
	<string>myblog-f19b6</string>
	<key>STORAGE_BUCKET</key>
	<string>myblog-f19b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289938632793:ios:58e2c2e4dcd5d567054148</string>
</dict>
</plist>